.task {
  border: 2px solid black;
  height: 400px;
  overflow-y: scroll;
}

.task h1 {
  background-color: #ff6347;
  margin: 0px;
  text-align: center;
  border-bottom: 2px solid black;
}

.task_names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  padding: 10px;
  margin: 20px 40px;
}
