.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  height: 40px;
  width: 100%;
}

.search_bar .text {
  width: 40%;
  height: 100%;
  padding: 0px;
  font-size: 24px;
  padding-inline: 20px;
}

.search_bar .btn {
  padding: 0px;
  margin-left: 5px;
  width: 80px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: #ff6347;
  font-weight: bold;
  font-size: 16px;
}
